In [2]:
import pandas as pd

In [2]:
test = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/ft_embedding_based_features/fm/base_test_extended.csv'\
                  , sep = ' ', header = None)
# train = pd.read_csv("s3://recsys-challenge-2020/training.tsv", encoding="utf-8",
#                     names = all_features, usecols= [1, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 23], sep="\x01")

In [7]:
val = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f2/f3/val_set.libfm'\
                  , sep = ' ', header = None, usecols= [1,2,3])

In [3]:
train = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f2/f3/train_set.libfm'\
                  , sep = ' ', header = None, usecols= [1,2,3])

In [4]:
val.head()

            0    1
0    671752:1  3:1
1  17572286:1  3:1
2   9296036:1  3:1
3   2747005:1  3:1
4   3469245:1  3:1

In [13]:
len(train)

133267714

In [10]:
base_val = pd.DataFrame({col:str(int(col) - 1)+':' for col in val}, index=val.index) + val.astype(str)

In [4]:
base_train = pd.DataFrame({col:str(int(col) - 1)+':' for col in train}, index=train.index) + train.astype(str)

In [5]:
base_train.head(
)

       1      2               3
0  0:0:1  1:1:1  2:40578649:0.0
1  0:2:1  1:3:1  2:40578649:0.0
2  0:4:1  1:5:1  2:40578649:0.0
3  0:6:1  1:7:1  2:40578649:0.0
4  0:8:1  1:9:1  2:40578649:0.0

In [12]:
base_val.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f2/f3/val_set.ffm',\
                index = False, header = False, sep = ' ')

In [6]:
base_train.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f2/f3/train_set.ffm',\
                index = False, header = False, sep = ' ')

In [2]:

base_val.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/ft_embedding_based_features/ffm/base_val_set.csv',\
                index = False, header = False, sep = ' ')chunksize = 10 ** 7
for chunk in pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/ft_embedding_based_features/fm/base_train_extended.csv'\
                  , sep = ' ', header = None\
                 , chunksize=chunksize):
    base_chunk = pd.DataFrame({col:str(int(col))+':' for col in chunk}, index=chunk.index) + chunk.astype(str) 
    base_chunk.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/ft_embedding_based_features/ffm/base_train.csv',\
                index = False, header = False, sep = ' ',  mode='a')

### Train and Test FM -> FFM

In [2]:
test = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f1/reply/test_df.csv'\
                  , sep = ' ', header = None\
                 , usecols = [1,2,3,4,5,6,7,8,9,10,11])
base_test = pd.DataFrame({col:str(int(col) - 1)+':' for col in test}, index=test.index) + test.astype(str)
base_test.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/ffm/f1/base_test.csv',\
                index = False, header = False, sep = ' ')

In [3]:
chunksize = 10 ** 7
for chunk in pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f1/reply/train_df.csv'\
                  , sep = ' ', header = None\
                 , usecols = [1,2,3,4,5,6,7,8,9,10,11], chunksize=chunksize):
    base_chunk = pd.DataFrame({col:str(int(col) - 1)+':' for col in chunk}, index=chunk.index) + chunk.astype(str) 
    base_chunk.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/ffm/f1/base_train.csv',\
                index = False, header = False, sep = ' ',  mode='a')