In [2]:
import pandas as pd

In [2]:
val = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f1/base_val_set.csv'\
                  , sep = ' ', header = None)
# train = pd.read_csv("s3://recsys-challenge-2020/training.tsv", encoding="utf-8",
#                     names = all_features, usecols= [1, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 23], sep="\x01")

In [3]:
val.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,4:1,98:1,32654830:1,15:1,918310:1,9:1,10:1,0:0.00011045594428133323,1:8.994755158267215e-07,2:5.511350050371348e-06,...,40578738:-0.04695393,40578739:-0.0661779,40578740:-0.14400975,40578741:0.07563489,40578742:0.00505823,40578743:0.02484251,40578744:0.00650671,40578745:-0.0075885,40578746:0.00083633,40578747:0.08590803
1,4:1,98:1,267065:1,15:1,23143401:1,9:1,10:1,0:3.812494464679185e-06,1:3.148164305393525e-05,2:0.0,...,40578738:0.0751254,40578739:0.06237275,40578740:-0.1542462,40578741:0.01070223,40578742:0.00974472,40578743:0.02247174,40578744:0.10506382,40578745:-0.00116375,40578746:0.03236366,40578747:-0.00980233
2,200:1,11:1,14377663:1,15:1,12305912:1,9:1,20:1,0:2.837205183017068e-06,1:0.00012682604773156772,2:1.8861882476229153e-06,...,40578738:0.01538859,40578739:0.03916452,40578740:-0.15879032,40578741:-0.03995284,40578742:-0.00597963,40578743:-0.03479253,40578744:-0.00176516,40578745:-0.02252353,40578746:-0.0219298,40578747:0.05133973
3,4:1,91:1,38028896:1,15:1,3679496:1,9:1,20:1,0:6.552170719530041e-06,1:5.1045235523166443e-05,2:1.9873983487148765e-06,...,40578738:-0.04695393,40578739:-0.0661779,40578740:-0.14400975,40578741:0.07563489,40578742:0.00505823,40578743:0.02484251,40578744:0.00650671,40578745:-0.0075885,40578746:0.00083633,40578747:0.08590803
4,200:1,98:1,3804299:1,15:1,4647308:1,9:1,10:1,0:0.0002472358329013467,1:2.2486887895668035e-05,2:1.343334069038759e-06,...,40578738:-0.04695393,40578739:-0.0661779,40578740:-0.14400975,40578741:0.07563489,40578742:0.00505823,40578743:0.02484251,40578744:0.00650671,40578745:-0.0075885,40578746:0.00083633,40578747:0.08590803

In [4]:
base_val = pd.DataFrame({col:str(int(col))+':' for col in val}, index=val.index) + val.astype(str)

In [5]:
base_val.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/ffm/f1/base_val.csv',\
                index = False, header = False, sep = ' ')

In [ ]:
train = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f1/reply/train_set.csv.libfm'\
                  , sep = ' ', header = None\
                 , usecols = [1,2,3,4,5,6,7,8,9,10,11])

In [ ]:
base_train = pd.DataFrame({col:str(int(col) - 1)+':' for col in train}, index=train.index) + train.astype(str)

In [ ]:
base_train.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/ffm/f1/base_train.csv',\
                index = False, header = False, sep = ' ', , mode='a')

In [3]:
chunksize = 10 ** 7
for chunk in pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f1/base_train_set.csv'\
                  , sep = ' ', header = None\
                 , chunksize=chunksize):
    base_chunk = pd.DataFrame({col:str(int(col))+':' for col in chunk}, index=chunk.index) + chunk.astype(str) 
    base_chunk.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/ffm/f1/base_train.csv',\
                index = False, header = False, sep = ' ',  mode='a')

### Train and Test FM -> FFM

In [2]:
test = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f1/reply/test_df.csv'\
                  , sep = ' ', header = None\
                 , usecols = [1,2,3,4,5,6,7,8,9,10,11])
base_test = pd.DataFrame({col:str(int(col) - 1)+':' for col in test}, index=test.index) + test.astype(str)
base_test.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/ffm/f1/base_test.csv',\
                index = False, header = False, sep = ' ')

In [3]:
chunksize = 10 ** 7
for chunk in pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f1/reply/train_df.csv'\
                  , sep = ' ', header = None\
                 , usecols = [1,2,3,4,5,6,7,8,9,10,11], chunksize=chunksize):
    base_chunk = pd.DataFrame({col:str(int(col) - 1)+':' for col in chunk}, index=chunk.index) + chunk.astype(str) 
    base_chunk.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/ffm/f1/base_train.csv',\
                index = False, header = False, sep = ' ',  mode='a')