In [2]:
import pandas as pd
import s3fs
from smart_open import open
import boto3
from io import StringIO # python3; python2: BytesIO 
from boto3.s3.transfer import TransferConfig
import metrics
import torch
from transformers import *
import numpy as np

In [3]:
all_features = ["Language", "tweet_timestamp"]
train_language = pd.read_csv(open("s3://recsys-challenge-2020/training.tsv"), encoding="utf-8",
                    names = all_features, usecols= [7, 8], sep="\x01"
                   )
# train_sorted = train.sort_values(by=['tweet_timestamp']).reset_index()
# n_head = 90
# n_tail = 10

# gt = list(val_set.reply_bool)
# pr = [0.5] * len(gt)
# prauc = metrics.compute_prauc(pr,gt)
# rce = metrics.compute_rce(pr,gt)

In [7]:
train_sorted = train_language.sort_values(by=['tweet_timestamp']).reset_index()
n_head = 90
n_tail = 10

In [8]:
train_set_language = train_sorted.head(int(len(train_sorted)*(n_head/100)))

In [9]:
val_set_language = train_sorted.tail(int(len(train_sorted)*(n_tail/100)))

In [10]:
train_set_language.to_csv('s3://recsys-challenge-2020/train_set_language.csv', index = False)

In [11]:
val_set_language.to_csv('s3://recsys-challenge-2020/val_set_language.csv', index = False)

In [4]:
train_language.Language.value_counts()

D3164C7FBCF2565DDF915B1B3AEFB1DC    60722973
22C448FF81263D4BAF2A176145EE9EAD    23652265
06D61DCBBE938971E1EA0C38BD9B5446    13273364
ECED8A16BE2A5E8871FD55F4842F16B1    10280788
B9175601E87101A984A50F8A62A1C374     7884887
                                      ...
D18801336202297E6484F634CAC6592E         614
4690215948DBF6872B8ED1C2BC87B17E         590
B2235C8B73239FDC5780DD132419833A         363
2E18F6F53E3CF073911AF0A93BBE5373         138
515E873C86EE1577E75FA2387B7FA59E          14
Name: Language, Length: 66, dtype: int64

In [6]:
train_language.Language.nunique()

66

In [5]:
train_language.head()

                           Language  tweet_timestamp
0  22C448FF81263D4BAF2A176145EE9EAD       1581258144
1  B9175601E87101A984A50F8A62A1C374       1581018910
2  22C448FF81263D4BAF2A176145EE9EAD       1581244866
3  22C448FF81263D4BAF2A176145EE9EAD       1581250124
4  22C448FF81263D4BAF2A176145EE9EAD       1580958805

In [12]:
train_set_language.head()

       index                          Language  tweet_timestamp
0   19856362  06D61DCBBE938971E1EA0C38BD9B5446       1580947200
1   70014084  D3164C7FBCF2565DDF915B1B3AEFB1DC       1580947200
2   45640141  D3164C7FBCF2565DDF915B1B3AEFB1DC       1580947200
3  103063682  ECED8A16BE2A5E8871FD55F4842F16B1       1580947200
4   54351326  D3164C7FBCF2565DDF915B1B3AEFB1DC       1580947200

In [13]:
len(val_set_language)

14807523

In [14]:
len(train_set_language)

133267714