In [1]:
import pandas as pd
import s3fs
from smart_open import open
import boto3
from io import StringIO # python3; python2: BytesIO 
from boto3.s3.transfer import TransferConfig

In [3]:
all_features = ["engaging_user_id"]
train_users = pd.read_csv(open("s3://recsys-challenge-2020/training.tsv"), encoding="utf-8",
                    names = all_features, usecols= [14], sep="\x01"
                   )

In [6]:
train_users.head()

                   engaging_user_id
0  0000006C3074607050F1339DDCB890BB
1  000005C520010F8917EEAB6F5B6EC1C4
2  000006829BEADA9EEA695CF0C334B426
3  000006829BEADA9EEA695CF0C334B426
4  000006829BEADA9EEA695CF0C334B426

In [7]:
test_users.head()

                    enaging_user_id
0  0000006C3074607050F1339DDCB890BB
1  00000776B07587ECA9717BFC301F2D6E
2  00000860E80C67D8C46CE57C64DE9444
3  00000865A1538142CDA5936B07FE4311
4  00000865A1538142CDA5936B07FE4311

In [11]:
train_users.engaging_user_id.nunique()

25496088

In [12]:
test_users.enaging_user_id.nunique()

7662966

In [14]:
len(set(test_users.enaging_user_id) - set(train_users.engaging_user_id))

2030122

In [4]:
all_features = ["enaging_user_id"]
test_users = pd.read_csv(open("s3://recsys-challenge-2020/val.tsv"), encoding="utf-8", names = all_features , usecols= [14], sep="\x01")