In [5]:
import pandas as pd
import s3fs
from smart_open import open
import boto3
from io import StringIO # python3; python2: BytesIO 
from boto3.s3.transfer import TransferConfig
import metrics
import torch
from transformers import *

In [3]:
all_features = ["text_ tokens", "tweet_id" , "tweet_timestamp",\
               "engaging_user_id", "reply_timestamp"]
train = pd.read_csv(open("s3://recsys-challenge-2020/training.tsv"), encoding="utf-8",
                    names = all_features, usecols= [0, 2, 8, 14, 20], sep="\x01"
                   )
train_sorted = train.sort_values(by=['tweet_timestamp']).reset_index()
n_head = 90
n_tail = 10
train_set = train_sorted.head(int(len(train_sorted)*(n_head/100)))
val_set = train_sorted.tail(int(len(train_sorted)*(n_tail/100)))
val_set['reply_bool'] = val_set.reply_timestamp.fillna(0)
val_set[val_set.reply_bool != 0.0] = 1.0
gt = list(val_set.reply_bool)
# pr = [0.5] * len(gt)
# prauc = metrics.compute_prauc(pr,gt)
# rce = metrics.compute_rce(pr,gt)

/home/ubuntu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/ubuntu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/home/ubuntu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [4]:
train_set

,index,text_ tokens,tweet_id,tweet_timestamp,engaging_user_id,reply_timestamp
0,19856362,101\t108\t31278\t90939\t70325\t196\t199\t71436...,66BB647424F5AD25A562F1C50D688626,1580947200,12A1AF0088C5B4FCBFA024D4A1971323,NaN
1,70014084,101\t95026\t90141\t54922\t10287\t13567\t10169\...,1BD6E406781F48D3FB023E1212BAD6DC,1580947200,C836F432B0FC7847C2C753949C51B961,NaN
2,45640141,101\t10117\t12518\t45415\t10472\t10114\t19072\...,7A6C40F8B6FE18A164C8A426E968867D,1580947200,77309DE08AB631D8224254D33648F287,NaN
3,103063682,101\t36084\t11372\t26095\t117\t12900\t39122\t1...,691021EDFDBED14FDF59FACCDFC4B68B,1580947200,91363F238C79DAEE42E2A2C97A5F8E7C,NaN
4,54351326,101\t34764\t26905\t117\t10479\t92486\t10559\t9...,F17D06139541C3EDB831451219B5D69F,1580947200,EFA4C5B62E097EB203F8AFDC470AEB27,NaN
...,...,...,...,...,...,...
133267709,6993239,101\t17713\t9405\t119152\t119002\t118823\t9531...,F1529D503347DA75EFFD67CC1D9DA0F9,1581486678,60B93589A97D9DB7023A4BB460887168,NaN
133267710,12499592,101\t17713\t9405\t119152\t119002\t118823\t9531...,F1529D503347DA75EFFD67CC1D9DA0F9,1581486678,ACD8BE62B45E077B63D1EB6C5CF8A5F3,NaN
133267711,100627863,101\t56898\t137\t12678\t55484\t38087\t11305\t1...,A6EC935E0DD8039D6957A46634F41068,1581486678,6F9421EE4CEC588974725CF5A811CCA5,NaN
133267712,56805658,101\t17713\t9405\t119152\t119002\t118823\t9531...,F1529D503347DA75EFFD67CC1D9DA0F9,1581486678,1195831650BF6FB0B0C11245C97E9227,NaN
133267713,56733728,101\t17713\t9405\t119152\t119002\t118823\t9531...,F1529D503347DA75EFFD67CC1D9DA0F9,1581486678,1096AD445BCBAD13D551CA2C64D0ED2F,NaN

In [6]:
tokenizer = BertTokenizer.from_pretrained('bert-base-multilingual-cased', do_lower_case=False)
model = BertModel.from_pretrained('/dev/bert/')