In [2]:
import pandas as pd
import s3fs
import boto3
from io import StringIO # python3; python2: BytesIO 
from boto3.s3.transfer import TransferConfig
import torch
from transformers import *
import numpy as np
import re
from langdetect import detect
from nltk.tokenize import wordpunct_tokenize
from nltk.tokenize import RegexpTokenizer

#### Divide timesamp and Language into train and validation set

In [2]:
all_features = ["Language", "tweet_timestamp", "engaging_user_id", "reply_timestamp"]

train = pd.read_csv("s3://recsys-challenge-2020/training.tsv", encoding="utf-8",
                    names = all_features, usecols= [7, 8, 14, 20], sep="\x01")
train_set_positive = train[train.reply_timestamp.notnull()]

In [3]:
first = train_set_positive[['engaging_user_id', 'Language']].drop_duplicates()
second = first.groupby(['engaging_user_id']).size().reset_index(name = 'count').\
sort_values(by = 'count', ascending = False)

In [5]:
second.to_csv('data/user_language_distribution')

In [ ]:
first

In [4]:
second

                         engaging_user_id  count
1075610  5926693A20E6B0C1405D7CBCB67AE153     10
1643742  884F1F0173B54377F547C5AE25B4FCD2      9
78255    067470F71433C013AAD7120AEEE2053E      9
1289556  6AE0222949209CDD6FB4C4AB001D90B2      8
2672388  DDA7175C6CA2059B5AE581E32F96471F      8
...                                   ...    ...
1047096  56C655BCCF003F2786D5F3DAA346C017      1
1047097  56C656164088429371D45985C3497FBA      1
1047098  56C65C804A94A82B8E7D4267DEA74178      1
1047099  56C66233DDE02079E661B4B330A5E094      1
3086529  FFFFFEC9E895C3E139CB84D782E1F9A3      1

[3086530 rows x 2 columns]

In [6]:
train_sorted = train.sort_values(by=['tweet_timestamp']).reset_index()

In [7]:
n_head = 90
n_tail = 10
train_set = train_sorted.head(int(len(train_sorted)*(n_head/100)))
val_set = train_sorted.tail(int(len(train_sorted)*(n_tail/100)))

In [8]:
train_set_text = pd.read_csv('s3://recsys-challenge-2020/train_set_text.csv')
val_set_text = pd.read_csv('s3://recsys-challenge-2020/val_set_text.csv')

In [12]:
train_set_text.head()

                                           user_text
0  [CLS] # ENVIVO | ¡ Buenas noches! Comienza una...
1  [CLS] Celebrate Lunar New Year with the new Ti...
2  [CLS] The media tend not to feature abortion s...
3  [CLS] porto alegre, tem novidade na agenda [UN...
4  [CLS] Karnataka boy, who guided ambulance duri...

In [18]:
train_set_subset['text_ tokens'].apply(lambda x: calculate_text(x))

0    [CLS] # ENVIVO | ¡ Buenas noches! Comienza una...
1    [CLS] Celebrate Lunar New Year with the new Ti...
2    [CLS] The media tend not to feature abortion s...
Name: text_ tokens, dtype: object

In [13]:
train_set_subset = pd.read_csv('s3://recsys-challenge-2020/train_set_reply.csv', nrows = 3)

In [26]:
val_set_subset = pd.read_csv('s3://recsys-challenge-2020/val_set_reply.csv', nrows = 3)

In [14]:
train_set_subset

,index,text_ tokens,tweet_id,tweet_timestamp,engaging_user_id,reply_timestamp,reply_bool
0,19856362,101\t108\t31278\t90939\t70325\t196\t199\t71436...,66BB647424F5AD25A562F1C50D688626,1580947200,12A1AF0088C5B4FCBFA024D4A1971323,NaN,0.0
1,70014084,101\t95026\t90141\t54922\t10287\t13567\t10169\...,1BD6E406781F48D3FB023E1212BAD6DC,1580947200,C836F432B0FC7847C2C753949C51B961,NaN,0.0
2,45640141,101\t10117\t12518\t45415\t10472\t10114\t19072\...,7A6C40F8B6FE18A164C8A426E968867D,1580947200,77309DE08AB631D8224254D33648F287,NaN,0.0

In [11]:
train_set.head()

,index,Language,tweet_timestamp,engaging_user_id,reply_timestamp
0,19856362,06D61DCBBE938971E1EA0C38BD9B5446,1580947200,12A1AF0088C5B4FCBFA024D4A1971323,NaN
1,70014084,D3164C7FBCF2565DDF915B1B3AEFB1DC,1580947200,C836F432B0FC7847C2C753949C51B961,NaN
2,45640141,D3164C7FBCF2565DDF915B1B3AEFB1DC,1580947200,77309DE08AB631D8224254D33648F287,NaN
3,103063682,ECED8A16BE2A5E8871FD55F4842F16B1,1580947200,91363F238C79DAEE42E2A2C97A5F8E7C,NaN
4,54351326,D3164C7FBCF2565DDF915B1B3AEFB1DC,1580947200,EFA4C5B62E097EB203F8AFDC470AEB27,NaN

In [15]:
def calculate_text(row):
    tweet_tokens = tokenizer.decode(list(map(int, row.split('\t'))))
    return tweet_tokens

In [17]:
tokenizer = BertTokenizer.from_pretrained('bert-base-multilingual-cased', do_lower_case=False)

In [19]:
train_lda_input = pd.concat([train_set, train_set_text], axis=1)

In [34]:
val_lda_input = pd.concat([val_set.reset_index(), val_set_text], axis=1)

In [63]:
train_lda_input.head()

pandas.core.frame.DataFrame

In [35]:
val_lda_input.head()

,level_0,index,Language,tweet_timestamp,engaging_user_id,reply_timestamp,text_ tokens,user_text
0,133267715,11908278,125C57F4FA6D4E110983FB11B52EFD4E,1581486678,A4B1828B571271073C68DA93D1465484,NaN,101\t17713\t9405\t119152\t119002\t118823\t9531...,[CLS] SM 사옥빌딩 앞에 있는 전광판차 사진들입니다... 전광판차는 사옥 앞에...
1,133267716,54640167,125C57F4FA6D4E110983FB11B52EFD4E,1581486678,F3A4C8EB81ADF3685E8F693037808A2C,NaN,101\t64002\t9247\t23665\t9251\t17342\t23990\t9...,[CLS] 방송 막하지 말라던 최민호는 본인이 막히기 시작하는데 • • • http...
2,133267717,102671906,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581486678,8BD011AB59AC04491687749245009C60,NaN,101\t56898\t137\t44592\t11090\t13503\t10157\t1...,[CLS] RT @ ReporterTelly : Let's just check it...
3,133267718,54937609,975B38F44D65EE42A547283787FF5A21,1581486678,F7BFBA56274FCBBBB76BDD36D0D6495B,NaN,101\t137\t15595\t21840\t14590\t75268\t57493\t1...,[CLS] @ Abhirupkumardu1 जय माँ [SEP]
4,133267719,38246969,125C57F4FA6D4E110983FB11B52EFD4E,1581486678,10F6E035959B9AC156CED11E0FAED566,NaN,101\t56898\t137\t13069\t93870\t10284\t11274\t1...,[CLS] RT @ LovableBH _ 0506 : 백현이 오늘 심각하게 [UNK...

In [23]:
val_set.head()

,index,Language,tweet_timestamp,engaging_user_id,reply_timestamp
133267715,11908278,125C57F4FA6D4E110983FB11B52EFD4E,1581486678,A4B1828B571271073C68DA93D1465484,NaN
133267716,54640167,125C57F4FA6D4E110983FB11B52EFD4E,1581486678,F3A4C8EB81ADF3685E8F693037808A2C,NaN
133267717,102671906,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581486678,8BD011AB59AC04491687749245009C60,NaN
133267718,54937609,975B38F44D65EE42A547283787FF5A21,1581486678,F7BFBA56274FCBBBB76BDD36D0D6495B,NaN
133267719,38246969,125C57F4FA6D4E110983FB11B52EFD4E,1581486678,10F6E035959B9AC156CED11E0FAED566,NaN

In [33]:
val_set.reset_index().head()

,level_0,index,Language,tweet_timestamp,engaging_user_id,reply_timestamp
0,133267715,11908278,125C57F4FA6D4E110983FB11B52EFD4E,1581486678,A4B1828B571271073C68DA93D1465484,NaN
1,133267716,54640167,125C57F4FA6D4E110983FB11B52EFD4E,1581486678,F3A4C8EB81ADF3685E8F693037808A2C,NaN
2,133267717,102671906,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581486678,8BD011AB59AC04491687749245009C60,NaN
3,133267718,54937609,975B38F44D65EE42A547283787FF5A21,1581486678,F7BFBA56274FCBBBB76BDD36D0D6495B,NaN
4,133267719,38246969,125C57F4FA6D4E110983FB11B52EFD4E,1581486678,10F6E035959B9AC156CED11E0FAED566,NaN

In [24]:
val_set_text.head()

,text_ tokens,user_text
0,101\t17713\t9405\t119152\t119002\t118823\t9531...,[CLS] SM 사옥빌딩 앞에 있는 전광판차 사진들입니다... 전광판차는 사옥 앞에...
1,101\t64002\t9247\t23665\t9251\t17342\t23990\t9...,[CLS] 방송 막하지 말라던 최민호는 본인이 막히기 시작하는데 • • • http...
2,101\t56898\t137\t44592\t11090\t13503\t10157\t1...,[CLS] RT @ ReporterTelly : Let's just check it...
3,101\t137\t15595\t21840\t14590\t75268\t57493\t1...,[CLS] @ Abhirupkumardu1 जय माँ [SEP]
4,101\t56898\t137\t13069\t93870\t10284\t11274\t1...,[CLS] RT @ LovableBH _ 0506 : 백현이 오늘 심각하게 [UNK...

In [27]:
val_set_subset.head()

,index,text_ tokens,tweet_id,tweet_timestamp,engaging_user_id,reply_timestamp,reply_bool
0,11908278,101\t17713\t9405\t119152\t119002\t118823\t9531...,F1529D503347DA75EFFD67CC1D9DA0F9,1581486678,A4B1828B571271073C68DA93D1465484,NaN,0.0
1,54640167,101\t64002\t9247\t23665\t9251\t17342\t23990\t9...,41D145799B12B26F5C580B46D7A0B88E,1581486678,F3A4C8EB81ADF3685E8F693037808A2C,NaN,0.0
2,102671906,101\t56898\t137\t44592\t11090\t13503\t10157\t1...,94062C22EE1C754B558A39E206B116E4,1581486678,8BD011AB59AC04491687749245009C60,NaN,0.0

In [29]:
len(val_set)

14807523

In [30]:
len(val_set_text)

14807523

In [25]:
train_set_text.head()

                                           user_text
0  [CLS] # ENVIVO | ¡ Buenas noches! Comienza una...
1  [CLS] Celebrate Lunar New Year with the new Ti...
2  [CLS] The media tend not to feature abortion s...
3  [CLS] porto alegre, tem novidade na agenda [UN...
4  [CLS] Karnataka boy, who guided ambulance duri...

In [42]:
train_lda_input.Language.value_counts()

D3164C7FBCF2565DDF915B1B3AEFB1DC    54769115
22C448FF81263D4BAF2A176145EE9EAD    21165570
06D61DCBBE938971E1EA0C38BD9B5446    12054370
ECED8A16BE2A5E8871FD55F4842F16B1     9384645
B9175601E87101A984A50F8A62A1C374     7134952
                                      ...
4690215948DBF6872B8ED1C2BC87B17E         548
D18801336202297E6484F634CAC6592E         538
B2235C8B73239FDC5780DD132419833A         359
2E18F6F53E3CF073911AF0A93BBE5373         130
515E873C86EE1577E75FA2387B7FA59E          12
Name: Language, Length: 66, dtype: int64

In [43]:
val_lda_input.Language.value_counts()

D3164C7FBCF2565DDF915B1B3AEFB1DC    5953858
22C448FF81263D4BAF2A176145EE9EAD    2486695
06D61DCBBE938971E1EA0C38BD9B5446    1218994
ECED8A16BE2A5E8871FD55F4842F16B1     896143
B9175601E87101A984A50F8A62A1C374     749935
                                     ...
D18801336202297E6484F634CAC6592E         76
4690215948DBF6872B8ED1C2BC87B17E         42
2E18F6F53E3CF073911AF0A93BBE5373          8
B2235C8B73239FDC5780DD132419833A          4
515E873C86EE1577E75FA2387B7FA59E          2
Name: Language, Length: 66, dtype: int64

In [44]:
import numpy as np
import lda
import lda.datasets
X = lda.datasets.load_reuters()
vocab = lda.datasets.load_reuters_vocab()
titles = lda.datasets.load_reuters_titles()

In [47]:
X

array([[1, 0, 1, ..., 0, 0, 0],
       [7, 0, 2, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 1, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0]], dtype=int32)

In [54]:
len(vocab)

4258

In [49]:
titles

('0 UK: Prince Charles spearheads British royal revolution. LONDON 1996-08-20',
 '1 GERMANY: Historic Dresden church rising from WW2 ashes. DRESDEN, Germany 1996-08-21',
 "2 INDIA: Mother Teresa's condition said still unstable. CALCUTTA 1996-08-23",
 '3 UK: Palace warns British weekly over Charles pictures. LONDON 1996-08-25',
 '4 INDIA: Mother Teresa, slightly stronger, blesses nuns. CALCUTTA 1996-08-25',
 "5 INDIA: Mother Teresa's condition unchanged, thousands pray. CALCUTTA 1996-08-25",
 '6 INDIA: Mother Teresa shows signs of strength, blesses nuns. CALCUTTA 1996-08-26',
 "7 INDIA: Mother Teresa's condition improves, many pray. CALCUTTA, India 1996-08-25",
 '8 INDIA: Mother Teresa improves, nuns pray for "miracle". CALCUTTA 1996-08-26',
 '9 UK: Charles under fire over prospect of Queen Camilla. LONDON 1996-08-26',
 '10 UK: Britain tells Charles to forget Camilla. LONDON 1996-08-27',
 "11 COTE D'IVOIRE: FEATURE - Quiet homecoming for reprieved Ivory Coast maid. ABIDJAN 1996-08-28",
 '12 INDIA: Mother Teresa ("I want to go home") sits and prays. CALCUTTA 1996-08-28',
 '13 INDIA: Mother Teresa nears end of crisis, nuns rejoice. CALCUTTA 1996-08-28',
 '14 UK: Prosaic end for marriage of Charles and Diana. LONDON 1996-08-28',
 '15 UK: No respite for British royals despite divorce. LONDON 1996-08-28',
 "16 UK: Camilla, love of Charles' life, an unlikely queen. LONDON 1996-08-28",
 '17 UK: Diana sets out on new life as single woman. LONDON 1996-08-28',
 '18 USA: O.J. Simpson attacks media, hints at lawsuits. WASHINGTON 1996-08-28',
 '19 USA: U.S. Cardinal Bernardin has one year or less to live. CHICAGO 1996-08-30',
 '20 USA: U.S. Cardinal Bernardin says has terminal cancer. CHICAGO 1996-08-30',
 '21 ROMANIA: German architect wins Bucharest rebuilding prize. BUCHAREST 1996-09-02',
 '22 ARGENTINA: Argentina\'s "Blond Angel" finally quits Navy. BUENOS AIRES, Argentina 1996-09-02',
 '23 UK: Disney lights up Pocahontas resting place. GRAVESEND, England 1996-09-06',
 '24 HUNGARY: POPE LEAVES HUNGARY AFTER DEMANDING TWO-DAY VISIT. BUDAPEST 1996-09-07',
 '25 HUNGARY: Pope says mass in Hungary, health in spotlight. GYOR, Hungary 1996-09-07',
 "26 UK: Prince Charles' love will not wed him, paper says. LONDON 1996-09-09",
 '27 UK: Ex-archbishop calls Princess Diana actress-schemer. LONDON 1996-09-09',
 '28 USA: Politics discussed backstage at Emmys, no airplay. PASADENA, Calif 1996-09-08',
 '29 UK: Diana angered by ex-archbishop\'s "schemer" jibe. LONDON 1996-09-11',
 '30 UK: Queen Elizabeth to hold "royal summit" - report. LONDON 1996-09-10',
 "31 BRAZIL: Nobel Prize winner sides with Brazil's landless. BRASILIA 1996-09-10",
 "32 VATICAN: FEATURE - Papal health in spotlight amid talk of Parkinson's. VATICAN CITY 1996-09-13",
 '33 UK: Cool it with Camilla, Major tells Charles - paper. LONDON 1996-09-14',
 '34 ROMANIA: Romania "royalty" wedding draws business barons. BUCHAREST 1996-09-15',
 '35 UK: British royal family holds meeting on future. LONDON 1996-09-15',
 '36 UK: Scandal-battered British royals debate future role. LONDON 1996-09-16',
 "37 SOUTH AFRICA: It's wonderful I've found Nelson, says new love. JOHANNESBURG 1996-09-17",
 '38 CHILE: Chilean economist Felipe Herrera dies at 74. SANTIAGO 1996-09-18',
 '39 GREECE: Princess Diana joins in funeral on Greek island. LIMNI, Greece 1996-09-18',
 '40 USA: U.S. House of Representatives honors Mother Teresa. WASHINGTON 1996-09-17',
 "41 FRANCE: Jewish-born cardinal is Pope's key man in France. PARIS 1996-09-18",
 "42 VATICAN: Pope's health will figure large on trip to France. VATICAN CITY 1996-09-18",
 '43 PHILIPPINES: FEATURE - Ex-actor eyes Philippine presidency. [CORRECTED 03:43 GMT] MANILA 1996-09-18',
 '44 UK: Runaway bishop had child, Catholic church admits. LONDON 1996-09-19',
 '45 FRANCE: Pope skirts religious controversy in France. TOURS, France 1996-09-19',
 "46 FRANCE: Pope visits western France religious stronghold. SAINTE-ANNE D'AURAY, France 1996-09-20",
 '47 UK: "I still love him" says runaway bishop\'s mistress. LONDON 1996-09-21',
 '48 UK: Church appeals to runaway Scottish bishop. LONDON 1996-09-21',
 "49 SWITZERLAND: Romanian ex-king's daughter marries. LAUSANNE 1996-09-21",
 "50 SWITZERLAND: ROMANIAN EX-KING'S DAUGHTER MARRIES. LAUSANNE 1996-09-21",
 '51 UK: Errant Catholic bishop wants to marry divorcee. LONDON 1996-09-22',
 '52 FRANCE: Pope speaks of death with "a smile"-Cardinal. REIMS, France 1996-09-22',
 '53 USA: Actress Dorothy Lamour dead at 81. LOS ANGELES 1996-09-23',
 '54 USA: South Georgia resort kept Kennedy wedding secret. CUMBERLAND ISLAND, Ga 1996-09-23',
 '55 FRANCE: FEATURE - Bardot tells all - for the love of animals. PARIS 1996-09-24',
 '56 FRANCE: Bardot tells all - for the love of animals. [CORRECTED 09:05 GMT] PARIS 1996-09-24',
 '57 AUSTRALIA: Quiet Buddhist farewell for mercy death Australian. DARWIN, Australia 1996-09-27',
 '58 AUSTRALIA: Australia mercy death man joked until the end. DARWIN, Australia 1996-09-27',
 '59 BELGIUM: Famed Belgian battlefield site makes its mark. WATERLOO, Belgium 1996-09-28',
 "60 REPUBLIC OF IRELAND: Ireland's Cardinal Daly steps down at 79. DUBLIN 1996-10-01",
 '61 CANADA: Former Quebec premier fought for Canadian unity. QUEBEC CITY 1996-10-02',
 '62 GERMANY: Feminist Hite seeks European parliament platform. FRANKFURT 1996-10-04',
 '63 UK: Prince Charles aide out after gaffes over Camilla. LONDON 1996-10-05',
 '64 GERMANY: Vargas Llosa urges sanctions on rights abuses. FRANKFURT 1996-10-06',
 '65 VATICAN: Tired Pope calls for prayers before operation. VATICAN CITY 1996-10-06',
 '66 ITALY: Pope ready for appendix surgery. ROME 1996-10-08',
 '67 FRANCE: FEATURE - "Who\'s Who" sounds requiem for French intellectuals. PARIS 1996-10-07',
 '68 USA: Clinton wishes Pope "speedy recovery". WASHINGTON 1996-10-08',
 '69 ITALY: "Textbook" papal appendix surgery excludes tumour. [CORRECTED 16:45 GMT] ROME 1996-10-08',
 '70 ITALY: Pope gets clean bill of health after appendectomy. ROME 1996-10-09',
 '71 UK: Runaway UK bishop to marry, apologises to church. KENDAL, England 1996-10-08',
 "72 ITALY: Pope's surgery a success, doctors say no tumour. ROME 1996-10-08",
 '73 UK: Runaway Scottish bishop to marry lover. GLASGOW, Scotland 1996-10-08',
 '74 ITALY: Pope has appendix removed, no problems. ROME 1996-10-08',
 '75 ITALY: Tranquil Pope has appendix surgery. ROME 1996-10-08',
 "76 ITALY: Pope's operation starts - hospital sources. ROME 1996-10-08",
 '77 SOUTH KOREA: "King of Pop" Michael Jackson arrives in Seoul. SEOUL 1996-10-09',
 '78 SOUTH KOREA: Jackson takes to stage in Seoul despite protests. SEOUL 1996-10-11',
 '79 INDONESIA: Nobel peace awards put East Timor in spotlight. JAKARTA 1996-10-11',
 '80 NORWAY: Nobel peace award wins praise outside indonesia. OSLO 1996-10-11',
 "81 VATICAN: Bishop's Nobel prize sweet satisfaction for Pope. VATICAN CITY 1996-10-11",
 '82 NORWAY: Winners of Nobel Peace Prize since 1970. OSLO 1996-10-11',
 '83 SOUTH AFRICA: FEATURE - Germans cling to little oasis in rural South Africa. HERMANNSBURG, South Africa 1996-10-13',
 '84 GERMANY: German publisher of Stern magazine dies. HAMBURG, Germany 1996-10-13',
 '85 ITALY: Joking Pope appears in public after surgery. ROME 1996-10-13',
 '86 INDONESIA: Nobel laureate invited to gathering for Suharto. JAKARTA 1996-10-14',
 '87 VATICAN: After appendectomy, Papal trembling in spotlight. VATICAN CITY 1996-10-14',
 '88 USA: Material Girl Madonna becomes a mother. LOS ANGELES 1996-10-14',
 '89 USA: Madonna as mother - the next chapter. LOS ANGELES 1996-10-14',
 '90 REPUBLIC OF IRELAND: Irish aid agency pulls out of concert over singer. DUBLIN 1996-10-15',
 '91 UK: British writer seeks reward on Nazi gold-raid book. LONDON 1996-10-18',
 "92 UK: Mahatma Ghandi's letters go on sale in London. LONDON 1996-10-21",
 "93 UK: Mahatma Gandhi's letters go on sale in London. LONDON 1996-10-21",
 '94 USA: FEATURE-Haitian voodoo - more than dolls and zombies. MIAMI 1996-10-22',
 '95 VATICAN: Pope to celebrate public mass on Sunday. VATICAN CITY 1996-10-22',
 '96 VATICAN: Pope greets pilgrims, resumes full duties Sunday. VATICAN CITY 1996-10-23',
 "97 SPAIN: Spanish bishops attack minister's lavish wedding. MADRID 1996-10-23",
 '98 INDIA: Former Gandhi aide has second thoughts on auction. MADRAS, India 1996-10-24',
 '99 UK: ENGLISH PASTOR DEFENDS MEMORIAL SERVICE FOR MONKEY. LONDON 1996-10-25',
 '100 VATICAN: Pope gradually resumes activity after operation. VATICAN CITY 1996-10-27',
 '101 RUSSIA: Russia presents archives to U.S. Holocaust museum. MOSCOW 1996-10-28',
 '102 USA: Municipal industry mourns James Augenthaler. NEW YORK 1996-10-28',
 '103 UK: U.S. actor berates archbishop over smacking. LONDON 1996-10-28',
 '104 USA: Author who denied Japanese-Americans interned dies. LOS ANGELES 1996-10-29',
 '105 VATICAN: Pope to publish brief memoirs. VATICAN CITY 1996-10-31',
 '106 VATICAN: Pope marks 50 years as priest, announces memoirs. VATICAN CITY 1996-11-01',
 '107 VATICAN: FEATURE - Pope marks 50th anniversary of priesthood. VATICAN CITY 1996-11-01',
 '108 ROMANIA: Romanians enjoy colourful choice of candidates. BUCHAREST 1996-11-03',
 '109 RUSSIA: Veil of secrecy thickens as Yeltsin surgery nears. MOSCOW 1996-11-04',
 '110 RUSSIA: Yeltsin in good form as heart operation nears. MOSCOW 1996-11-04',
 '111 RUSSIA: Yeltsin op looks imminent, security tightened. MOSCOW 1996-11-05',
 '112 RUSSIA: FEATURE - Provincial museum fights to stay open in Russia. KOSTROMA, Russia 1996-11-04',
 '113 ARGENTINA: FEATURE - Erstwhile angel Cavallo bedevils government. BUENOS AIRES 1996-11-04',
 '114 RUSSIA: YELTSIN COMES THROUGH SEVEN-HOUR HEART OPERATION. MOSCOW 1996-11-05',
 '115 RUSSIA: Russia on edge as Yeltsin surgery goes to plan. MOSCOW 1996-11-05',
 '116 RUSSIA: Yeltsin comes through seven-hour heart operation. MOSCOW 1996-11-05',
 "117 ITALY: Real-life Don Camillo won't toll bells for red. ROME 1996-11-06",
 '118 VATICAN: Pope celebrates priesthood, to resume all activity. VATICAN CITY 1996-11-10',
 "119 USA: Chicago's Cardinal Bernardin reported near death. CHICAGO 1996-11-13",
 '120 USA: Church, lay leaders mourn Chicago cardinal. CHICAGO 1996-11-14',
 "121 USA: Bishops recall Bernardin's humble leadership. WASHINGTON 1996-11-14",
 '122 USA: Cardinal led Chicago archdiocese for 14 years. CHICAGO 1996-11-14',
 "123 USA: Chicago's Cardinal Bernardin dead at age 68. CHICAGO 1996-11-14",
 '124 VATICAN: Pope saddened over Bernardin death. VATICAN CITY 1996-11-14',
 '125 CROATIA: Croatian doctor says Tudjman "feeling excellent". ZAGREB 1996-11-16',
 '126 INDONESIA: Norway issues Timorese Nobel laureate a visa. JAKARTA 1996-11-17',
 '127 INDIA: Mother Teresa becomes honorary American citizen. NEW DELHI 1996-11-16',
 '128 VATICAN: Pope warms up for Castro by meeting Gorbachev. VATICAN CITY 1996-11-18',
 '129 USA: Final services for Cardinal Bernardin of Chicago. CHICAGO 1996-11-20',
 '130 UK: India saves Gandhi papers from jaws of commerce. LONDON 1996-11-22',
 "131 USA: Simpson's life story defies imagination. SANTA MONICA, Calif. 1996-11-22",
 '132 INDIA: Mother Teresa "comfortable" after heart failure. CALCUTTA 1996-11-22',
 '133 INDIA: Mother Teresa in hospital with heart problem. CALCUTTA 1996-11-22',
 '134 FRANCE: France pays tribute to writer Malraux on Saturday. PARIS 1996-11-22',
 '135 USA: S. Carolina Klan museum claims to teach history. LAURENS, S.C. 1996-11-24',
 '136 USA: Ex-hostage Waite still keeps symbolic ticket. NEW YORK 1996-11-26',
 "137 UK: Cluedo's final mystery solved at inventor's grave. LONDON 1996-11-27",
 "138 MOLDOVA: Moldova's new leader has Moscow past, western goals. CHISINAU 1996-12-02",
 '139 VATICAN: Belgian cardinal Hamer dies. VATICAN CITY 1996-12-02',
 '140 UK: Papers show Duke of Windsor was royal loose cannon. LONDON 1996-12-03',
 '141 FRANCE: Acclaimed French historian Georges Duby dies at 77. PARIS 1996-12-03',
 '142 CENTRAL AFRICAN REPUBLIC: State burial for African emperor Bokassa cancelled. BANGUI 1996-12-04',
 '143 INDIA: Mother Teresa seeks foster homes for 4,000 children. CALCUTTA 1996-12-05',
 '144 USA: Abortion foe Salvi buried, victim attends funeral. IPSWICH, Mass 1996-12-04',
 '145 ITALY: Nobel laureate Belo says peace will be his message. ROME 1996-12-06',
 '146 VIETNAM: Hanoi declares dissident temple a national site. HANOI 1996-12-06',
 '147 GREECE: SALONIKA TO SHOW OFF BYZANTINE LEGACY IN 1997. SALONIKA, Greece 1996-12-08',
 '148 GREECE: SALONIKA TO SHOW OFF BYZANTINE LEGACY IN 1997. SALONIKA, Greece 1996-12-09',
 '149 RUSSIA: Cash-strapped Kremlin to start charging visitors. MOSCOW 1996-12-10',
 '150 VATICAN: Ageing Pope to skip Christmas Day mass this year. VATICAN CITY 1996-12-10',
 '151 NORWAY: East Timor activist shares peace prize. OSLO 1996-12-10',
 "152 UK: FEATURE - Duke's reputation sinks 60 years after abdication. LONDON 1996-12-11",
 "153 SOUTH AFRICA: S.Africa's Boesak charged with theft of aid funds. CAPE TOWN 1996-12-13",
 "154 ITALY: Italy's Dossetti, political figure, dies. BOLOGNA, Italy 1996-12-15",
 '155 GREECE: FEATURE - Salonika to show off Byzantine legacy in 1997. SALONIKA, Greece 1996-12-15',
 '156 NETHERLANDS: Hermitage treasures on show in Amsterdam. AMSTERDAM 1996-12-16',
 '157 RUSSIA: Russian Orthodox leader taken to hospital. MOSCOW 1996-12-18',
 '158 FRANCE: Bardot denies racism charge in Paris court. PARIS 1996-12-19',
 '159 FRANCE: Paris bids emotional farewell to Mastroianni. PARIS 1996-12-20',
 '160 ITALY: Italy says "Ciao Marcello," thanks for sweet life. ROME 1996-12-20',
 '161 PERU: Peru rebel chief is angry, violent revolutionary. LIMA 1996-12-22',
 '162 CUBA: Santa Claus skips Cuba, at least officially. HAVANA 1996-12-23',
 '163 ISRAEL: Israel takes shine off Christmas in Bethlehem. BETHLEHEM, West Bank 1996-12-23',
 '164 RUSSIA: FEATURE - Moscow to celebrate 850th birthday in grand style. MOSCOW 1996-12-25',
 '165 UK: Fred West film plan angers British MPs, relatives. LONDON 1996-12-31',
 '166 INDIA: Israel president shrugs off illness. NEW DELHI 1996-12-31',
 '167 UK: Britain to review law after Fred West film plan. LONDON 1997-01-01',
 '168 UK: Britain to review law after Fred West film plan. LONDON 1997-01-01',
 '169 USA: Mother Teresa "miracle" bun takes to the Internet. NASHVILLE, Tenn. 1997-01-03',
 "170 SWEDEN: Sweden's honourable Prince Bertil dies, aged 84. STOCKHOLM 1997-01-05",
 "171 SWEDEN: Sweden's Prince Bertil dies. STOCKHOLM 1997-01-05",
 "172 RUSSIA: Kremlin slams report on return of Tsar's heir. MOSCOW 1997-01-06",
 '173 RUSSIA: Yeltsin spends Russian Christmas in bed with cold. MOSCOW 1997-01-07',
 '174 SOUTH KOREA: Under plastic awning, veteran newsman leads strikes. SEOUL 1997-01-07',
 '175 RUSSIA: FEATURE - Russian historian seeks real Stalin behind myth. MOSCOW 1997-01-09',
 '176 GERMANY: Hollywood stars blast Germany over Scientologists. BONN 1997-01-09',
 "177 Germany: Kohl dismisses Hollywood stars' rebuke of Germany. BONN 1997-01-09",
 '178 UK: Buckingham Palace to campaign for Charles as king. LONDON 1997-01-09',
 "179 CANADA: FEATURE-Canada's Ben Heppner -- the Fourth Tenor?. OTTAWA 1997-01-10",
 "180 GERMANY: Germany rebuffs stars' accusations over Scientology. BONN 1997-01-10",
 "181 RUSSIA: FEATURE - Russian artists say forging evidence is kids' stuff. MOSCOW 1997-01-12",
 '182 USA: Houston moves to rein in topless nightclubs. HOUSTON 1997-01-12',
 '183 SWEDEN: Sweden, European royalty mourn Prince Bertil. STOCKHOLM 1997-01-13',
 '184 GERMANY: German Jewish leader slams Scientology letter. FRANKFURT 1997-01-13',
 '185 PHILIPPINES: FEATURE - Festivals bring buried Philippine towns back to life. ANGELES CITY, Philippines 1997-01-13',
 '186 SWEDEN: European royalty join Sweden to mourn Prince Bertil. STOCKHOLM 1997-01-13',
 '187 AUSTRALIA: RTRS-TIMELINES-Today in History - Jan 15.',
 '188 DENMARK: Danish queen mourns, marks 25 years as monarch. COPENHAGEN 1997-01-14',
 "189 SOUTH AFRICA: S.Africa's moral conscience, Tutu, battles cancer. JOHANNESBURG 1997-01-17",
 '190 USA: Debate over King legacy dampens Atlanta festivities. ATLANTA 1997-01-19',
 '191 USA: Church marks legacy of Martin Luther King Jr.. ATLANTA 1997-01-20',
 '192 USA: U.S. Sen. Tsongas to be buried on Thursday. LOWELL, Mass 1997-01-19',
 '193 USA: Friends line up to pay respects to Tsongas. LOWELL, Mass. 1997-01-21',
 '194 USA: John Phillips dies, ex-First Boston muni official. NEW YORK 1997-01-22',
 "195 FRANCE: France's Bardot cleared of racist slur. PARIS 1997-01-23",
 "196 LIBERIA: Liberia's Taylor remarries, offers toast for peace. GBANGA, Liberia 1997-01-28",
 '197 TAIWAN: Taiwan president soul-searches with Hollywood hunk. TAIPEI 1997-01-29',
 '198 COLOMBIA: Gays beat Church ban, parade in Colombian carnival. BOGOTA 1997-02-02',
 '199 FRANCE: U.S. ambassador to France has brain haemorrhage. PARIS 1997-02-04',
 '200 GERMANY: Berlin festival quells Scientology boycott fears. BERLIN 1997-02-04',
 '201 USA: U.S. envoy to France seriously ill. WASHINGTON 1997-02-03',
 '202 USA: U.S. envoy to France said to be near death. WASHINGTON 1997-02-03',
 '203 FRANCE: U.S. Paris envoy Harriman in serious condition. PARIS 1997-02-04',
 '204 FRANCE: U.S. ambassador to France has brain haemorrhage. PARIS 1997-02-04',
 '205 FRANCE: U.S. ambassador to France ill in hospital. PARIS 1997-02-04',
 '206 USA: Pamela Harriman eulogized by Clinton, Democrats. WASHINGTON 1997-02-05',
 '207 USA: Clinton, Democrats laud Pamela Harriman. WASHINGTON 1997-02-05',
 '208 FRANCE: U.S. envoy Pamela Harriman dies in Paris. PARIS 1997-02-05',
 "209 FRANCE: Pamela Harriman's life a mix of wealth and power. PARIS 1997-02-05",
 '210 USA: Clinton lauds Harriman as gifted public servant. WASHINGTON 1997-02-05',
 "211 USA: O.J. Simpson's incredible reversal of fortune. SANTA MONICA, Calif. 1997-02-04",
 '212 FRANCE: U.S. ambassador to Paris Harriman dead at 76. PARIS 1997-02-05',
 '213 FRANCE: Pamela Harriman, U.S. envoy to France, dead at 76. PARIS 1997-02-05',
 '214 FRANCE: U.S. ambassador to France condition still serious. PARIS 1997-02-05',
 '215 FRANCE: Chirac to honour late U.S. envoy Pamela Harriman. PARIS 1997-02-06',
 '216 USA: FEATURE - Marsalis conjures soul from slavery. NEW YORK 1997-02-06',
 '217 UK: Oasis singer Liam Gallagher set to marry next week. LONDON 1997-02-06',
 "218 USA: Harriman's body returned to Washington. WASHINGTON 1997-02-08",
 '219 SWITZERLAND: FEATURE - Troubleshooting Swiss diplomat keeps low profile. BERNE 1997-02-12',
 '220 USA: Clinton recalls Harriman as elegant, indomitable. WASHINGTON 1997-02-13',
 '221 USA: Funeral for baby allegedly killed by British nanny. BROOKLINE, Mass. 1997-02-12',
 '222 VATICAN: Historian of Vatican policy towards Nazis dies. VATICAN CITY 1997-02-14',
 '223 UK: UK watchdog halts ads over epileptic seizure risk. LONDON 1997-02-14',
 "224 PHILIPPINES: Air crash follows bishop's funeral in Philippines. JOLO, Philippines 1997-02-14",
 '225 HONG KONG: China, Taiwan, HK stocks rocked by Deng worries. HONG KONG 1997-02-18',
 '226 UK: Albright looks back to war years on London visit. LONDON 1997-02-19',
 '227 USA: Harriman son, estranged wife inherit - report. WASHINGTON 1997-02-18',
 '228 FRANCE: French judges refuse to ban "Larry Flynt" posters. PARIS 1997-02-20',
 "229 GERMANY: Bavarians outraged at exhibition on Hitler's army. MUNICH, Germany 1997-02-20",
 '230 SWITZERLAND: Swiss bishops blast Larry Flynt film poster. ZURICH 1997-02-21',
 '231 ROMANIA: Romania king, citizenship restored, to visit home. BUCHAREST 1996-02-24',
 '232 CHINA: China Catholics pray for Deng as church silent. BEIJING 1997-02-23',
 '233 ROMANIA: Romania flashy "Gypsy King" dies of heart attack. BUCHAREST 1997-02-24',
 '234 USA: Rev. Benjamin Chavis joins Farrakhan group. CHICAGO 1997-02-24',
 '235 INDIA: Mother Teresa succession vote soon, order says. CALCUTTA, India 1997-02-24',
 '236 INDIA: Mother Teresa succession vote imminent, order says. CALCUTTA, India 1997-02-24',

In [50]:
X.shape

(395, 4258)

In [51]:
X.sum()

84010

In [ ]:
model = lda.LDA(n_topics=20, n_iter=1500, random_state=1)

In [147]:
train_lda_input.head(100).user_text.replace('\[CLS\]','', regex=True)

0      # ENVIVO | ¡ Buenas noches! Comienza una nueva edición de # 24HorasCentral junto a Iván Núñez... [UNK] Sigue la señal en vivo # 24Play [UNK] https : / / t. co / mi3yDUaS2F https : / / t. co / Y6qU6gwdCL [SEP]
1      Celebrate Lunar New Year with the new Tigeress and Swift Outfits in the Item Shop now! https : / / t. co / oJIWHkCp5o [SEP]
2      The media tend not to feature abortion survivors like Claire Culwell, a woman whose story has in recent years captivated the pro - life world.. https : / / t. co / COWpNipsgk [SEP]
3      porto alegre, tem novidade na agenda [UNK] 14 de março eu toco no teatro do @ sesc _ rs e já tô muito ansiosa pra rever todo mundo. ingressos aqui : https : / / t. co / ihrnvHrB1P https : / / t. co / HyJf3917d1 [SEP]
4      Karnataka boy, who guided ambulance during floods, to be awarded on # RepublicDay.. https : / / t. co / qOtzvndLmE https : / / t. co / HRGZbClnCv [SEP]
                                                                                ...
95     Xbox creator and physicist Seamus Blackley used 4, 500 year old Egyptian bacteria to make his own loaf of bread [SEP]
96     # Géminis es una depresión tratará de mantenerse ocupado y siempre con actitud positiva. Es por ello que, normalmente, este singo no se deja vencer por la depresión ni las cosas negativas que afectan su vida [UNK] https : / / t. co / 1Nzre6xBTf & lt ; & lt ; Seguir leyendo [SEP]
97     A federal court ordered snap hearing after DOJ submitted info under seal following court [UNK] s demand for explanation of why no records have been produced in the legal battle for docs about the Congressional Dem IT scandal involving the Awan bros. Read : https : / / t. co / s1xgQAGXfc [SEP]
98     Celebrate Lunar New Year with the new Tigeress and Swift Outfits in the Item Shop now! https : / / t. co / oJIWHkCp5o [SEP]
99     [UNK] [UNK] | Klopp rejects opportunity to bring Coutinho back to # LFC : https : / / t. co / 2pveqAlbM2 https : / / t. co / oEJY8AbMdl [SEP]
Name: user_text, Length: 100, dtype: object

In [165]:
def tokenize_text(row, index):
    if index % 100000 == 0:
        print(index)
    row1 = row.replace('[CLS]','')
    row2 = row1.replace('[SEP]', '')
    result = re.sub(r"http\S+", "", row2)
    tokenizer = RegexpTokenizer(r'\w+')
    token_list = tokenizer.tokenize(result)
#     token_list = wordpunct_tokenize(result)
    feature =  ' '.join([w.lower() for w in token_list])
#     print(row)
#     print(feature)
    return feature

In [ ]:
# subset = train_lda_input.head(101)
# subset_subset = subset.apply(lambda x: tokenize_text(x.user_text, x.name), axis = 1)
train_lda_input['cleaned_text'] = train_lda_input.apply(lambda x: tokenize_text(x.user_text, x.name), axis = 1)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
10900000
11000000
11100000
11200000
11300000
11400000
11500000
11600000
11700000
11800000
11900000
12000000
12100000
12200000
12300000
12400000
12500000
12600000
12700000
12800000
12900000
13000000
13100000
13200000
13300000
13400000
13500000
13600000
13700000
13800000
13900000
14000000
14100000
14200000
14300000
14400000
14500000
14600000
14700000
14800000
14900000
15000000
15100000
15200000
15300000
15400000
15500000
15600000
15700000
15800000
15900000
16000000
16100000
16200000
16300000
16400000
16500000
16600000
16700000
16800000
16900000
17000000
17100000
17200000
17300000
17400000
17500000
17600000
17700000
17800000
17900000
18000000
18100000
18200000
18300000
18400000
18500000
18600000
18700000
18800000
18900000
19000000
19100000
19200000
19300000
19400000
19500000
19600000
19700000
19800000
19900000
20000000
20100000
20200000
20300000
20400000
20500000
20600000
20700000
20800000
20900000
21000000
21100000
21200000
21300000
21400000
21500000
21600000
21700000
21800000
21900000
22000000
22100000
22200000
22300000
22400000
22500000
22600000
22700000
22800000
22900000
23000000
23100000
23200000
23300000
23400000
23500000
23600000
23700000
23800000
23900000
24000000
24100000
24200000
24300000
24400000
24500000
24600000
24700000
24800000
24900000
25000000
25100000
25200000
25300000
25400000
25500000
25600000
25700000
25800000
25900000
26000000
26100000
26200000
26300000
26400000
26500000
26600000
26700000
26800000
26900000
27000000
27100000
27200000
27300000
27400000
27500000
27600000
27700000
27800000
27900000
28000000
28100000
28200000
28300000
28400000
28500000
28600000
28700000
28800000
28900000
29000000
29100000
29200000
29300000
29400000
29500000
29600000
29700000
29800000
29900000
30000000
30100000
30200000
30300000
30400000
30500000
30600000
30700000
30800000
30900000
31000000
31100000
31200000
31300000
31400000
31500000
31600000
31700000
31800000
31900000
32000000
32100000
32200000
32300000
32400000
32500000
32600000
32700000
32800000
32900000
33000000
33100000
33200000
33300000
33400000
33500000
33600000
33700000
33800000
33900000
34000000
34100000
34200000
34300000
34400000
34500000
34600000
34700000
34800000
34900000
35000000
35100000
35200000
35300000
35400000
35500000
35600000
35700000
35800000
35900000
36000000
36100000
36200000
36300000
36400000
36500000
36600000
36700000
36800000
36900000
37000000
37100000
37200000
37300000
37400000
37500000
37600000
37700000
37800000
37900000
38000000
38100000
38200000
38300000
38400000
38500000
38600000
38700000
38800000
38900000
39000000
39100000
39200000
39300000
39400000
39500000
39600000
39700000
39800000
39900000
40000000
40100000
40200000
40300000
40400000
40500000
40600000
40700000
40800000
40900000
41000000
41100000
41200000
41300000
41400000
41500000
41600000
41700000
41800000
41900000
42000000
42100000
42200000
42300000
42400000
42500000
42600000
42700000
42800000
42900000
43000000
43100000
43200000
43300000
43400000
43500000
43600000
43700000
43800000
43900000
44000000
44100000
44200000
44300000
44400000
44500000
44600000
44700000
44800000
44900000
45000000
45100000
45200000
45300000
45400000
45500000
45600000
45700000
45800000
45900000
46000000
46100000
46200000
46300000
46400000
46500000
46600000
46700000
46800000
46900000
47000000
47100000
47200000
47300000
47400000
47500000
47600000
47700000
47800000
47900000
48000000
48100000
48200000
48300000
48400000
48500000
48600000
48700000
48800000
48900000
49000000
49100000
49200000
49300000
49400000
49500000
49600000
49700000
49800000
49900000
50000000
50100000
50200000
50300000
50400000
50500000
50600000
50700000
50800000
50900000
51000000
51100000
51200000
51300000
51400000
51500000
51600000
51700000
51800000
51900000
52000000
52100000
52200000
52300000
52400000
52500000
52600000
52700000
52800000
52900000
53000000
53100000
53200000
53300000
53400000
53500000
53600000
53700000
53800000
53900000
54000000
54100000
54200000
54300000
54400000

In [ ]:
train_lda_input

In [92]:
subset_subset

0       cls envivo buenas noches comienza una nueva edición de 24horascentral junto iván núñez unk sigue la señal en vivo 24play unk co mi3yduas2f co y6qu6gwdcl sep
1       cls celebrate lunar new year with the new tigeress and swift outfits in the item shop now co ojiwhkcp5o sep
2       cls the media tend not to feature abortion survivors like claire culwell woman whose story has in recent years captivated the pro life world co cowpnipsgk sep
3       cls porto alegre tem novidade na agenda unk 14 de março eu toco no teatro do sesc rs já tô muito ansiosa pra rever todo mundo ingressos aqui co ihrnvhrb1p co hyjf3917d1 sep
4       cls karnataka boy who guided ambulance during floods to be awarded on republicday co qotzvndlme co hrgzbclncv sep
                                                              ...
9995    cls tengo hambre mi mamá está acostada la hdp sep
9996    cls brother and sister australian kite foiling champions co e8wriyafsq sep
9997    cls if could pick sign to be culled sep
9998    cls jeez louise sep
9999    cls buenas noches mis amores co 5kc11irse2 sep
Length: 10000, dtype: object

In [80]:
train_lda_input.Language.unique()

array(['06D61DCBBE938971E1EA0C38BD9B5446',
       'D3164C7FBCF2565DDF915B1B3AEFB1DC',
       'ECED8A16BE2A5E8871FD55F4842F16B1',
       '9BF3403E0EB7EA8A256DA9019C0B0716',
       '167115458A0DBDFF7E9C0C53A83BAC9B',
       'B9175601E87101A984A50F8A62A1C374',
       '22C448FF81263D4BAF2A176145EE9EAD',
       '975B38F44D65EE42A547283787FF5A21',
       '125C57F4FA6D4E110983FB11B52EFD4E',
       '022EC308651FACB02794A8147AEE1B78',
       '4DC22C3F31C5C43721E6B5815A595ED6',
       '2996EB2FE8162C076D070A4C8D6532CD',
       'FA3F382BC409C271E3D6EAF8BE4648DD',
       '1FFD2FE4297F5E70EBC6C3230D95CB9C',
       '89616CFF8EC8637092F885C7EFF43D74',
       '190BA7DA361BC06BC1D7E824C378064D',
       '4249CE88433AEA3F8DCEECF008B3CB95',
       '6431A618DCF7F4CB7F62A95A39BAB77A',
       '717293301FE296B0B61950D041485825',
       '76B8A9C3013AE6414A3E6012413CDC3B',
       '9ECD42BC079C20F156F53CB3B99E600E',
       'FF60A88F53E63000266F8B9149E35AD9',
       '3820C29CBCA409A33BADF68852057C4A',
       '3E16B11B7ADE3A22DDFC4423FBCEAD5D',
       '48236EC80FDDDFADE99420ABC9210DDF',
       'C7A400D9AD489ACF673CF12FBB80AAE5',
       'D413F5FE5236E5650A46FD983AB39212',
       '920502FAA080485768AA89BC96A55C47',
       'AEF22666801F0A5846D853B9CEB2E327',
       '544FA32458C903F1125FE6598300A047',
       'A0C7021AD8299ADF0C9EBE326C115F6F',
       '0331BF70E606D62D92C96CE9AD71A7CF',
       '691890251F2B9FF922BE6D3699ABEFD2',
       'F4FD40A716F1572C9A28E9CAA58BE3A5',
       'E59EF8BB86A6D815331DDF4C467CE0C7',
       'FF7EABB5A382356D54D9C41BA0125E09',
       '259A6F6DFD672CB1F883CBEC01B99F2D',
       '3121F7240D488F74EEED9312E174B217',
       'CB11E9CF42BD0A1BAD5E27BF3422D99D',
       'E7BB61D2A87C1E72DF1C7BC292B86A1C',
       '60FBA0E834CC59D647C3599AD763FFDF',
       'F3E1016563360F9434FA986CA86C249C',
       'A6B70CDF8C7B934D4A218CA9B6B7FDB4',
       '06BEAB41D66CCFF329D1ED8BA120A6C2',
       'DBEEFB80F8A314311E2B4BD593E11DFE',
       'C942E369C88CE7C56E69A84D04319FF0',
       'C2EF5FABE7619D8A333D5F0FF76E1BFA',
       '54208B51D44E7D91DC2F3DD02ADEDEC2',
       'B6D90127A09AB1229731898AEF9D4D7C',
       'AC1F0671A4B0D5B8112F87DE7B490E6D',
       '3A85BCEC571C3F5AB1069E4924189177',
       '69C4A33B9AD29AF883D60BA61CC08702',
       '1BC639981AE88E09129594B11F894A21',
       '97F81BD92A1ACA3F1F43C154E689350F',
       '2216D01F7B48554E4211021A46816FCF',
       'F73266A79468BB89C4325FDEDB0B533C',
       '4690215948DBF6872B8ED1C2BC87B17E',
       'BF477808A37E3E4E9C5D9F1839E8519E',
       'AA0254541959271ED3453119B787D0C3',
       '57ADD4576E2AD6648E9B2DE32F3462A5',
       '12D8CEB94F89D11D7EB95EAE9689B009',
       'D18801336202297E6484F634CAC6592E',
       '2E18F6F53E3CF073911AF0A93BBE5373',
       'B2235C8B73239FDC5780DD132419833A',
       '60A3DB168094D41241E45E0DE3539BC0',
       '515E873C86EE1577E75FA2387B7FA59E'], dtype=object)

In [86]:
subset = train_lda_input[train_lda_input.Language == '06D61DCBBE938971E1EA0C38BD9B5446'].head(10)

In [99]:
def language_detect(str1, str2):
    return str1,detect(str2)

In [72]:
pd.set_option('display.max_colwidth', -1)

In [114]:
language_code_name_pairs = pd.DataFrame()

In [115]:
language_code_name_pairs['code', 'name'] = group.apply(lambda x : language_detect(x.Language, x.user_text), axis = 1)

In [117]:
language_code_name_pairs

                              (code, name)
0   (022EC308651FACB02794A8147AEE1B78, th)
1   (0331BF70E606D62D92C96CE9AD71A7CF, fi)
2   (06BEAB41D66CCFF329D1ED8BA120A6C2, he)
3   (06D61DCBBE938971E1EA0C38BD9B5446, es)
4   (125C57F4FA6D4E110983FB11B52EFD4E, ko)
..                                     ...
61  (F4FD40A716F1572C9A28E9CAA58BE3A5, sl)
62  (F73266A79468BB89C4325FDEDB0B533C, pa)
63  (FA3F382BC409C271E3D6EAF8BE4648DD, fr)
64  (FF60A88F53E63000266F8B9149E35AD9, en)
65  (FF7EABB5A382356D54D9C41BA0125E09, en)

[66 rows x 1 columns]

In [109]:
group = train_lda_input.groupby('Language').first().reset_index()

In [110]:
group

,Language,index,tweet_timestamp,engaging_user_id,reply_timestamp,user_text
0,022EC308651FACB02794A8147AEE1B78,34048091,1580947200,D6E09F8CD4FAC1912DA101B032C0C094,1.580961e+09,[CLS] เก๊ง เก๊ง เก๊ง เก๊ง เก๊ง เก๊ง เก๊ง ( ๐๗. ๐๐ ) [SEP]
1,0331BF70E606D62D92C96CE9AD71A7CF,80920386,1580947206,5F0C0A5415807487403B49823D03A5B8,1.580948e+09,[CLS] RT @ SuomiSOS : Vainojen uhrien muistopäivä lähestyy : juutalaisten holokaustin myytti 6 miljoonasta uhrista [UNK] https : / / t. co / kZYDJMNnE2 [SEP]
2,06BEAB41D66CCFF329D1ED8BA120A6C2,101774136,1580947249,7F6876EC2E5EC0BA1A3D1F54F7242894,1.580972e+09,[CLS] RT @ ebendavid5 : יש לו גנים של ברווז. [UNK]. https : / / t. co / VSND0mOUCG [SEP]
3,06D61DCBBE938971E1EA0C38BD9B5446,19856362,1580947200,12A1AF0088C5B4FCBFA024D4A1971323,1.580952e+09,[CLS] # ENVIVO | ¡ Buenas noches! Comienza una nueva edición de # 24HorasCentral junto a Iván Núñez... [UNK] Sigue la señal en vivo # 24Play [UNK] https : / / t. co / mi3yDUaS2F https : / / t. co / Y6qU6gwdCL [SEP]
4,125C57F4FA6D4E110983FB11B52EFD4E,33433623,1580947200,CE5D706649EEA7D04F2D9BFFACEBF02E,1.580970e+09,[CLS] [UNK] 전하는 새해 복이 여러분 모두에게 [UNK]. [UNK]. 조철강 빼고 모두 새해 복 많이 받으세요 ~ ( [UNK] ). [UNK]. 매주 [ 토일 ] 밤 9시 방송. # tvN # 토일드라마 # 사랑의불시착. # 현빈 # 손예진 # 서지혜 # 김정현 https : / / t. co / RE3oGzC0Hu [SEP]
...,...,...,...,...,...,...
61,F4FD40A716F1572C9A28E9CAA58BE3A5,143141987,1580947210,BBB1EF7D99D4971ACE64CC46113C2438,1.580949e+09,[CLS] parcerita dime kiubo [SEP]
62,F73266A79468BB89C4325FDEDB0B533C,110463272,1580948140,F7A0DBE44182EBC4FBE6A5ABF737A0ED,1.581017e+09,[CLS] ਵਾਹਿਗੁਰੂ ਤੇਰਾ ਸ਼ੁਕਰ ਹੈ [UNK] https : / / t. co / JLQM0c6eqc [SEP]
63,FA3F382BC409C271E3D6EAF8BE4648DD,41360732,1580947200,3BF9546AB515D665B0500BA5197AAB6D,1.580947e+09,[CLS] Plus que 2 heures avant le retour de # cjdltv sur @ iciartv! [UNK] [SEP]
64,FF60A88F53E63000266F8B9149E35AD9,72475886,1580947201,EA4CE40574D2295485331E36383058FF,1.580953e+09,"[CLS] hrrngh.. no boobie?? no girl,..... [SEP]"
65,FF7EABB5A382356D54D9C41BA0125E09,84338218,1580947216,8E483BC70D206D0E30C1035E5BA6DA9B,1.580967e+09,[CLS] RT @ Wang _ Xia0 : 200124 รูปใหม่ Who's The Murderer.. # XiaoZhan. # 肖 战. # เซียวจ้าน https : / / t. co / pn7xuNag56 [SEP]