In [1]:
import pandas as pd

In [2]:
all_features = ["tweet_id", "engaging_user_id"]
test = pd.read_csv("s3://recsys-challenge-2020/val.tsv", encoding="utf-8",
                    names = all_features, usecols= [2, 14], sep="\x01"
                   )
print('test loaded')

test loaded

In [3]:
test_embeddings = pd.read_csv('s3://recsys-challenge-2020/all_lang_output_test.csv')

In [ ]:
test_embeddings

In [4]:
test_id_embeddings = pd.concat([test, test_embeddings], axis = 1)

In [5]:
test_id_embeddings.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [6]:
test_id_embeddings

,tweet_id,engaging_user_id,sentence_embedding
0,7647B4E9DAF4C1D8973397DC2A04F3E3,0000006C3074607050F1339DDCB890BB,[-0.16600178 -0.22357826 -0.08349431 -0.150008...
1,CCBFBA5AFE7EFC03102EA8D0F86C4208,00000776B07587ECA9717BFC301F2D6E,[ 1.11614332e-01 -2.96647400e-01 -3.85199785e-...
2,E18C2DCFC5AF20C650A0FD94598E69B7,00000860E80C67D8C46CE57C64DE9444,[ 0.05624229 -0.32678255 -0.04964957 -0.003698...
3,26DC813FDF8546B757BB9141099F119E,00000865A1538142CDA5936B07FE4311,[ 0.05665505 -0.33640945 -0.04591884 -0.098812...
4,30A33055566AAC9EB18734C4EAD11FE1,00000865A1538142CDA5936B07FE4311,[ 0.17303757 -0.29860908 -0.24178134 -0.127024...
...,...,...,...
15127679,9CEF739DE1CEF3233F2C90878B082BA8,FFFFFB739796BE92A4278AF12F89A341,[-0.20728433 -0.09487068 0.19952467 0.119583...
15127680,0459C6E503097B6E564ED7170C3DD9C0,FFFFFE97AA06327403491D71E2ED52DA,[-0.20393233 -0.10655027 0.12799004 0.103121...
15127681,A9FFEC91BE8B7A10832D2E29424935AD,FFFFFE97AA06327403491D71E2ED52DA,[-0.30855218 -0.14309084 0.11370316 0.073646...
15127682,B1AFB06AB12B2B261C7D35F67D654742,FFFFFE97AA06327403491D71E2ED52DA,[-0.44340768 -0.19544874 0.09533497 0.023959...
15127683,28FCB83456B638AD97F465CFA331A59A,FFFFFEC9E895C3E139CB84D782E1F9A3,[-0.34203064 -0.16079521 0.14075664 -0.037642...

In [7]:
test_26_04_2020 = pd.read_csv("s3://recsys-challenge-2020/val_26_04_2020.tsv", encoding="utf-8",
                    names = all_features, usecols= [2, 14], sep="\x01")

In [8]:
test_26_04_2020

                                  tweet_id                  engaging_user_id
0         7647B4E9DAF4C1D8973397DC2A04F3E3  0000006C3074607050F1339DDCB890BB
1         408DB1803264B5FF55F73EC06BE9BD77  000013315386492275CCBF7AEF293EF0
2         2EE951379C47E8BF62EABB8FA027F753  00001569CB28972FC8173122D9DA162F
3         2135F24B05DAE3EF213F9CE80FDC6DAF  00001607209C5774DF9207A2AC0EED5F
4         09143FEDE9BD494A6EA9A7EE160565E3  0000177705514C315F2FC6DFA3872712
...                                    ...                               ...
12984674  9ABED4B0AB2CAA18BD6248064C2502C5  FFFFF11D9F54702F82D4386907FA1EB4
12984675  EFCAC0A88CC0B00C382E7D0C6B524C91  FFFFF41EF74BC4EA75C33EC85FE16513
12984676  BE3AF4D2D7F17451A9BB6959019F4316  FFFFF785504753651FF3EF40B304840E
12984677  4A5F639729D6DDB69BA5DD2B334728C4  FFFFFB2D8B6FD1034804A4B740CB16BC
12984678  B1AFB06AB12B2B261C7D35F67D654742  FFFFFE97AA06327403491D71E2ED52DA

[12984679 rows x 2 columns]

In [9]:
test_id_embeddings_26_04_2020 = pd.merge(test_26_04_2020, test_id_embeddings, on = ['tweet_id', 'engaging_user_id'])

In [10]:
test_id_embeddings_26_04_2020

,tweet_id,engaging_user_id,sentence_embedding
0,7647B4E9DAF4C1D8973397DC2A04F3E3,0000006C3074607050F1339DDCB890BB,[-0.16600178 -0.22357826 -0.08349431 -0.150008...
1,408DB1803264B5FF55F73EC06BE9BD77,000013315386492275CCBF7AEF293EF0,[-0.08681167 -0.3957036 0.01935757 -0.009737...
2,2EE951379C47E8BF62EABB8FA027F753,00001569CB28972FC8173122D9DA162F,[ 0.05631955 -0.29206362 0.01773255 -0.056219...
3,2135F24B05DAE3EF213F9CE80FDC6DAF,00001607209C5774DF9207A2AC0EED5F,[ 0.04038592 -0.2721139 0.07892624 0.034378...
4,09143FEDE9BD494A6EA9A7EE160565E3,0000177705514C315F2FC6DFA3872712,[-0.04742883 -0.19948032 -0.04347689 0.066420...
...,...,...,...
12984674,9ABED4B0AB2CAA18BD6248064C2502C5,FFFFF11D9F54702F82D4386907FA1EB4,[ 0.49340957 0.14294729 0.20982687 0.090252...
12984675,EFCAC0A88CC0B00C382E7D0C6B524C91,FFFFF41EF74BC4EA75C33EC85FE16513,[ 0.28568828 0.0412934 0.2464709 -0.059447...
12984676,BE3AF4D2D7F17451A9BB6959019F4316,FFFFF785504753651FF3EF40B304840E,[ 0.28568828 0.0412934 0.2464709 -0.059447...
12984677,4A5F639729D6DDB69BA5DD2B334728C4,FFFFFB2D8B6FD1034804A4B740CB16BC,[ 3.7093687e-01 1.1482436e-02 2.1355751e-01 ...
12984678,B1AFB06AB12B2B261C7D35F67D654742,FFFFFE97AA06327403491D71E2ED52DA,[-0.44340768 -0.19544874 0.09533497 0.023959...

In [11]:
test_id_embeddings_26_04_2020[['tweet_id', 'engaging_user_id']].equals(test_26_04_2020[['tweet_id', 'engaging_user_id']])

True

In [12]:
test_id_embeddings_26_04_2020[['sentence_embedding']].to_csv('s3://recsys-challenge-2020/all_lang_output_test_26_04_2020.csv')