In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import mutual_info_classif
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from datetime import datetime
import swifter
import random
from datetime import datetime
import datetime

In [ ]:
import pandas
import random

n = 148075238 #number of records in file
s = 10000 #desired sample size
# filename = "data.txt"
skip = sorted(random.sample(range(n),n-s))
# df = pandas.read_csv(filename, skiprows=skip)

In [4]:
def ep_to_day(ep):
    return datetime.datetime.fromtimestamp(ep).weekday()

In [2]:
all_features = ["text_ tokens", "hashtags", "tweet_id", "present_media", "present_links", "present_domains",\
                "tweet_type","language", "tweet_timestamp", "enaged_with_user_id", "engaged_with_user_follower_count",\
               "engaged_with_user_following_count", "engaged_with_user_is_verified", "engaged_with_user_account_creation",\
               "enaging_user_id", "enaging_user_follower_count", "enaging_user_following_count", "enaging_user_is_verified",\
               "enaging_user_account_creation", "engagee_follows_engager", "reply_timestamp", "retweet_timestamp",\
                "retweet_with_comment_timestamp", "like_timestamp"]

training = pd.read_csv('s3://recsys-challenge-2020/training.tsv', encoding="utf-8", names = all_features, sep="\x01", nrows = 100000)

In [5]:
training['day'] = training.swifter.apply(lambda x: ep_to_day(x['tweet_timestamp']), axis = 1)

HBox(children=(FloatProgress(value=0.0, description='Pandas Apply', max=100000.0, style=ProgressStyle(descriptâ€¦

In [6]:
training

,text_ tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,enaged_with_user_id,...,enaging_user_follower_count,enaging_user_following_count,enaging_user_is_verified,enaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp,day
0,101\t6417\t3410\t3398\t3184\t1909\t56910\t1683...,NaN,D4D1EBDE74F74C5DA529959AF979625C,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581258144,D7EFC6D19CFB09B9A1CE4C4B0E0091F6,...,27428,600,False,1520948869,False,NaN,NaN,NaN,NaN,6
1,101\t14120\t131\t120\t120\t188\t119\t11170\t12...,NaN,BFB529DAB6D384EB83E899A72AB3830D,Photo,NaN,NaN,TopLevel,B9175601E87101A984A50F8A62A1C374,1581018910,1F30A85E612A24B426013978ADB7AE46,...,17,77,False,1569692352,True,NaN,NaN,NaN,NaN,3
2,101\t62342\t10858\t54439\t19571\t22480\t7831\t...,NaN,519078C7834E9642508F72A6C2D0F3B7,NaN,788ABAA22F1C4A9D186510C1E3E81F58,892B6E0BC037800B59112CFCB95E3301,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581244866,9E1FD934C376903895DEEBCC0F6AB920,...,2,29,False,1568107028,False,NaN,NaN,NaN,1.581247e+09,6
3,101\t58955\t10898\t103305\t1901\t16181\t7168\t...,F0F2FBE57F08E7C4326682B5EDA63E3E\tE78674D32346...,52AAE9E33EFAC8C478C57B31A9E31ED1,NaN,C06B84A10A75AE4BF4A102AB45CC2ABF,C0F5328C1D36CD4B34D1808012E18D46,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581250124,BEB3C337B266E2C4769065AD64724329,...,3,30,False,1568107028,False,NaN,NaN,NaN,NaN,6
4,101\t2435\t5656\t2594\t8279\t8623\t1925\t64126...,NaN,89C1298C55EB3D68E2784F0BFB69E6F8,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1580958805,9E1FD934C376903895DEEBCC0F6AB920,...,3,30,False,1568107028,False,NaN,NaN,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,101\t56898\t137\t25444\t10797\t32169\t10884\t1...,NaN,5742C1A6BA649B9CC9B6CAE5A88FE70F,Photo,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,1580993142,2AD3A30D6FB6EA9BDA4925D2237DA29B,...,2454,4994,False,1550553688,False,NaN,NaN,NaN,1.580998e+09,3
99996,101\t56898\t137\t174\t61762\t27593\t10129\t131...,NaN,12DC6C199625D4319832E51451AD480C,NaN,7A8FDF03CD02A1DCF24A20F7E3602D18,8E98AD4804271F227F16EF65FFE64E89,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581349454,0ED17196668980360787FF78A279EAC0,...,9912,320,True,1407859007,False,NaN,NaN,NaN,1.581349e+09,0
99997,101\t11399\t77536\t10107\t117\t10827\t10124\t1...,NaN,35C81BB074E9D4E5C1F8120B0D5DC0CF,NaN,26E7531AE50BF70B777896664A6327A9,A879416C89FC0D16FF644AC85D9488A1,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581314731,1AF2F24B9AD1EE285D44A98EC6E0ABA4,...,9912,320,True,1407859007,False,NaN,NaN,NaN,1.581394e+09,0
99998,101\t149\t11403\t11403\t39272\t146\t110014\t11...,NaN,DD783F095EFB87458F6DE0B5F117AFE3,NaN,NaN,NaN,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581007978,2FD5A234BB70D8219FAED834BB07B998,...,946,1685,False,1327423012,True,NaN,NaN,NaN,1.581015e+09,3
99999,101\t10357\t10124\t10435\t11098\t26059\t102,NaN,54F8D6684A8AC0C8C649C7C26ECB2B9B,NaN,NaN,NaN,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581268230,3D984C576787C80023D1CA74398DD1D5,...,67,189,False,1301877078,False,NaN,NaN,NaN,NaN,6

In [7]:
training['reply_bool'] = training.reply_timestamp.fillna(0)
training.loc[training.reply_bool != 0.0, 'reply_bool'] = 1.0

In [8]:
training['retweet_bool'] = training.retweet_timestamp.fillna(0)
training.loc[training.retweet_bool != 0.0, 'retweet_bool'] = 1.0

In [9]:
training['retweet_with_comment_bool'] = training.retweet_with_comment_timestamp.fillna(0)
training.loc[training.retweet_with_comment_bool != 0.0, 'retweet_with_comment_bool'] = 1.0

In [10]:
training['like_bool'] = training.like_timestamp.fillna(0)
training.loc[training.like_bool != 0.0, 'like_bool'] = 1.0

In [11]:
training['present_links_bool'] = training.present_links.fillna(0)
training.loc[training.present_links_bool != 0, 'present_links_bool'] = 1

In [12]:
training['present_media_bool'] = training.present_media.fillna(0)
training.loc[training.present_media_bool != 0, 'present_media_bool'] = 1

In [13]:
training['present_domains_bool'] = training.present_domains.fillna(0)
training.loc[training.present_domains_bool != 0, 'present_domains_bool'] = 1

In [14]:
(training.reply_bool == 1.0).sum()

2754

In [15]:
training_subset = training.iloc[:, [1,3,4,5,6,7,9,14,17,19,24,25,26,27,28,29,30]]

In [ ]:
[(c, training.columns.get_loc(c)) for c in training.columns]

In [16]:
training_subset.columns

Index(['hashtags', 'present_media', 'present_links', 'present_domains',
       'tweet_type', 'language', 'enaged_with_user_id', 'enaging_user_id',
       'enaging_user_is_verified', 'engagee_follows_engager', 'day',
       'reply_bool', 'retweet_bool', 'retweet_with_comment_bool', 'like_bool',
       'present_links_bool', 'present_media_bool'],
      dtype='object')

In [17]:
training['day'].nunique()

7

In [19]:
training_subset.dtypes

hashtags                      object
present_media                 object
present_links                 object
present_domains               object
tweet_type                    object
language                      object
enaged_with_user_id           object
enaging_user_id               object
enaging_user_is_verified        bool
engagee_follows_engager         bool
day                            int64
reply_bool                   float64
retweet_bool                 float64
retweet_with_comment_bool    float64
like_bool                    float64
present_links_bool            object
present_media_bool            object
dtype: object

In [ ]:
training_subset = training[['present_media', 'present_links', 'present_domains', 'tweet_type', 'language',\
                     'enaged_with_user_id', 'engaged_with_user_is_verified', 'enaging_user_id',\
                    'enaging_user_is_verified', 'engagee_follows_engager', 'present_links_bool', 'retweet_with_comment_bool']]

In [20]:
training_subset

,hashtags,present_media,present_links,present_domains,tweet_type,language,enaged_with_user_id,enaging_user_id,enaging_user_is_verified,engagee_follows_engager,day,reply_bool,retweet_bool,retweet_with_comment_bool,like_bool,present_links_bool,present_media_bool
0,NaN,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,D7EFC6D19CFB09B9A1CE4C4B0E0091F6,0000006C3074607050F1339DDCB890BB,False,False,6,0.0,0.0,0.0,0.0,0,0
1,NaN,Photo,NaN,NaN,TopLevel,B9175601E87101A984A50F8A62A1C374,1F30A85E612A24B426013978ADB7AE46,000005C520010F8917EEAB6F5B6EC1C4,False,True,3,0.0,0.0,0.0,0.0,0,1
2,NaN,NaN,788ABAA22F1C4A9D186510C1E3E81F58,892B6E0BC037800B59112CFCB95E3301,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,9E1FD934C376903895DEEBCC0F6AB920,000006829BEADA9EEA695CF0C334B426,False,False,6,0.0,0.0,0.0,1.0,1,0
3,F0F2FBE57F08E7C4326682B5EDA63E3E\tE78674D32346...,NaN,C06B84A10A75AE4BF4A102AB45CC2ABF,C0F5328C1D36CD4B34D1808012E18D46,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,BEB3C337B266E2C4769065AD64724329,000006829BEADA9EEA695CF0C334B426,False,False,6,0.0,0.0,0.0,0.0,1,0
4,NaN,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,9E1FD934C376903895DEEBCC0F6AB920,000006829BEADA9EEA695CF0C334B426,False,False,3,0.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,NaN,Photo,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,2AD3A30D6FB6EA9BDA4925D2237DA29B,0162064CF83443397670D2DEDE12B74E,False,False,3,0.0,0.0,0.0,1.0,0,1
99996,NaN,NaN,7A8FDF03CD02A1DCF24A20F7E3602D18,8E98AD4804271F227F16EF65FFE64E89,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,0ED17196668980360787FF78A279EAC0,016206B575A4FE6D898208B80814D345,True,False,0,0.0,0.0,0.0,1.0,1,0
99997,NaN,NaN,26E7531AE50BF70B777896664A6327A9,A879416C89FC0D16FF644AC85D9488A1,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1AF2F24B9AD1EE285D44A98EC6E0ABA4,016206B575A4FE6D898208B80814D345,True,False,0,0.0,0.0,0.0,1.0,1,0
99998,NaN,NaN,NaN,NaN,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,2FD5A234BB70D8219FAED834BB07B998,01620B6567B6D6D29AAF3FCB67DD648D,False,True,3,0.0,0.0,0.0,1.0,0,0
99999,NaN,NaN,NaN,NaN,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,3D984C576787C80023D1CA74398DD1D5,01620D2C0700A43C1ED1EF6F0A5A3A3F,False,False,6,0.0,0.0,0.0,0.0,0,0

In [21]:
X = training_subset.drop(['reply_bool'], axis = 1)
y = training_subset[['reply_bool']]

In [22]:
X.present_links_bool.nunique()

2

In [23]:
X

,hashtags,present_media,present_links,present_domains,tweet_type,language,enaged_with_user_id,enaging_user_id,enaging_user_is_verified,engagee_follows_engager,day,retweet_bool,retweet_with_comment_bool,like_bool,present_links_bool,present_media_bool
0,NaN,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,D7EFC6D19CFB09B9A1CE4C4B0E0091F6,0000006C3074607050F1339DDCB890BB,False,False,6,0.0,0.0,0.0,0,0
1,NaN,Photo,NaN,NaN,TopLevel,B9175601E87101A984A50F8A62A1C374,1F30A85E612A24B426013978ADB7AE46,000005C520010F8917EEAB6F5B6EC1C4,False,True,3,0.0,0.0,0.0,0,1
2,NaN,NaN,788ABAA22F1C4A9D186510C1E3E81F58,892B6E0BC037800B59112CFCB95E3301,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,9E1FD934C376903895DEEBCC0F6AB920,000006829BEADA9EEA695CF0C334B426,False,False,6,0.0,0.0,1.0,1,0
3,F0F2FBE57F08E7C4326682B5EDA63E3E\tE78674D32346...,NaN,C06B84A10A75AE4BF4A102AB45CC2ABF,C0F5328C1D36CD4B34D1808012E18D46,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,BEB3C337B266E2C4769065AD64724329,000006829BEADA9EEA695CF0C334B426,False,False,6,0.0,0.0,0.0,1,0
4,NaN,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,9E1FD934C376903895DEEBCC0F6AB920,000006829BEADA9EEA695CF0C334B426,False,False,3,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,NaN,Photo,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,2AD3A30D6FB6EA9BDA4925D2237DA29B,0162064CF83443397670D2DEDE12B74E,False,False,3,0.0,0.0,1.0,0,1
99996,NaN,NaN,7A8FDF03CD02A1DCF24A20F7E3602D18,8E98AD4804271F227F16EF65FFE64E89,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,0ED17196668980360787FF78A279EAC0,016206B575A4FE6D898208B80814D345,True,False,0,0.0,0.0,1.0,1,0
99997,NaN,NaN,26E7531AE50BF70B777896664A6327A9,A879416C89FC0D16FF644AC85D9488A1,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1AF2F24B9AD1EE285D44A98EC6E0ABA4,016206B575A4FE6D898208B80814D345,True,False,0,0.0,0.0,1.0,1,0
99998,NaN,NaN,NaN,NaN,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,2FD5A234BB70D8219FAED834BB07B998,01620B6567B6D6D29AAF3FCB67DD648D,False,True,3,0.0,0.0,1.0,0,0
99999,NaN,NaN,NaN,NaN,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,3D984C576787C80023D1CA74398DD1D5,01620D2C0700A43C1ED1EF6F0A5A3A3F,False,False,6,0.0,0.0,0.0,0,0

In [24]:
y

       reply_bool
0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
...           ...
99995         0.0
99996         0.0
99997         0.0
99998         0.0
99999         0.0

[100000 rows x 1 columns]

In [25]:
X = X.fillna('unknown')

In [26]:
from collections import defaultdict
d = defaultdict(LabelEncoder)
fit = X.apply(lambda x: d[x.name].fit_transform(x))

In [27]:
fit

,hashtags,present_media,present_links,present_domains,tweet_type,language,enaged_with_user_id,enaging_user_id,enaging_user_is_verified,engagee_follows_engager,day,retweet_bool,retweet_with_comment_bool,like_bool,present_links_bool,present_media_bool
0,14682,7,12810,4669,2,10,65381,0,0,0,6,0,0,0,0,0
1,14682,1,12810,4669,2,41,9284,1,0,1,3,0,0,0,0,1
2,14682,7,5964,2494,2,10,47772,2,0,0,6,0,0,1,1,0
3,13867,7,9552,3458,2,10,57570,2,0,0,6,0,0,0,1,0
4,14682,7,12810,4669,2,10,47772,2,0,0,3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,14682,1,12810,4669,1,10,12807,65567,0,0,3,0,0,1,0,1
99996,14682,7,6076,2594,1,47,4390,65568,1,0,0,0,0,1,1,0
99997,14682,7,1955,3040,2,47,8007,65568,1,0,0,0,0,1,1,0
99998,14682,7,12810,4669,0,47,14253,65569,0,1,3,0,0,1,0,0
99999,14682,7,12810,4669,0,47,18405,65570,0,0,6,0,0,0,0,0

In [28]:
y

       reply_bool
0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
...           ...
99995         0.0
99996         0.0
99997         0.0
99998         0.0
99999         0.0

[100000 rows x 1 columns]

In [33]:
fs = SelectKBest(score_func=mutual_info_classif, k='all')
fs.fit(fit, y)

/home/ubuntu/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SelectKBest(k='all',
            score_func=<function mutual_info_classif at 0x7f3539ac8b90>)

In [34]:
for i in range(len(fs.scores_)):
	print('%s: %f' % (fit.columns[i], fs.scores_[i]))

hashtags: 0.012496
present_media: 0.010821
present_links: 0.014908
present_domains: 0.022087
tweet_type: 0.016140
language: 0.007256
enaged_with_user_id: 0.000265
enaging_user_id: 0.003514
enaging_user_is_verified: 0.000000
engagee_follows_engager: 0.006178
day: 0.003271
retweet_bool: 0.000000
retweet_with_comment_bool: 0.001289
like_bool: 0.004622
present_links_bool: 0.001111
present_media_bool: 0.003708

In [ ]:
fit.columns[4]

In [ ]:
fit.columns[7]

In [ ]:
fit.columns[10]