In [1]:
import pandas as pd

In [5]:
train_gt_day = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f3/train_gt_day.csv'\
                           , delimiter = ' ', header = None, names = ['label', 'day_of_tweet'])

In [6]:
train_gt_day

           label  day_of_tweet
0            0.0             6
1            0.0             3
2            0.0             6
3            0.0             6
4            0.0             3
...          ...           ...
148075233    0.0             4
148075234    0.0             2
148075235    0.0             2
148075236    0.0             5
148075237    0.0             2

[148075238 rows x 2 columns]

In [7]:
train_gt_day.set_index(keys=['day_of_tweet'], drop=False,inplace=True)
names = train_gt_day['day_of_tweet'].unique().tolist()
train_scratch = pd.DataFrame()
val_scratch = pd.DataFrame()
for day in names:
    print(day)
    train_day = train_gt_day.loc[train_gt_day.day_of_tweet==day]
    n_head = 90
    n_tail = 10
    train_set_scratch = train_day.head(int(len(train_day)*(n_head/100)))
    val_set_scratch = train_day.tail(int(len(train_day)*(n_tail/100)))
    train_scratch = pd.concat([train_scratch, train_set_scratch])
    val_scratch = pd.concat([val_scratch, val_set_scratch])

6
3
0
4
5
1
2

In [9]:
train_scratch[['label']].to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f3/train_set_gt.csv', index = False, header = False)

In [10]:
val_scratch[['label']].to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f3/val_set_gt.csv', index = False, header = False)