In [1]:
import pandas as pd
import swifter
from datetime import datetime
import datetime

In [2]:
train_set = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f3/train_data.csv', usecols = [1, 2])
val_set = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f3/val_data.csv', usecols = [1, 2])

In [ ]:
train_set_engaged_user_id = train_set[['engaged_user_id']]

In [ ]:
val_set = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f2/val_set.csv', delimiter = '\t')

In [ ]:
val_set_engaged_user_id = val_set[['engaged_user_id']]

In [ ]:
def ep_to_day(ep):
    return datetime.datetime.fromtimestamp(ep).weekday()
train_set_timestamp = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f2/ft/train_set_reply.csv'\
                                  , usecols = [3])
val_set_timestamp = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f2/ft/val_set_reply.csv'\
                                , usecols =[3])
train_set_timestamp['day_of_tweet'] = train_set_timestamp.swifter.apply(lambda x: ep_to_day(x['tweet_timestamp'])\
                                        , axis  = 1)
val_set_timestamp['day_of_tweet'] = val_set_timestamp.swifter.apply(lambda x: ep_to_day(x['tweet_timestamp'])\
                                      , axis  = 1)

In [ ]:
train_set_timestamp['day_of_tweet'] = train_set_timestamp.swifter.apply(lambda x: ep_to_day(x['tweet_timestamp'])\
                                        , axis  = 1)
val_set_timestamp['day_of_tweet'] = val_set_timestamp.swifter.apply(lambda x: ep_to_day(x['tweet_timestamp'])\
                                      , axis  = 1)

In [ ]:
train_data = pd.concat([train_set_engaged_user_id, train_set_timestamp[['day_of_tweet']]], axis = 1)
val_data = pd.concat([val_set_engaged_user_id, val_set_timestamp[['day_of_tweet']]], axis = 1)

In [3]:
train_set_fm = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f3/base_train_set.csv', header = None, names = ['features'])

In [4]:
val_set_fm = pd.read_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f3/base_val_set.csv', header = None, names = ['features'])

In [9]:
train_set_fm

                                                    features
0          4:1 5:1 6:1 7:1 8:1 9:1 10:1 0:0.0317102542509...
1          4:1 11:1 12:1 7:1 13:1 9:1 10:1 0:0.0868375233...
2          4:1 11:1 14:1 15:1 16:1 9:1 10:1 0:0.000183061...
3          4:1 17:1 18:1 7:1 19:1 9:1 20:1 0:0.0017023763...
4          4:1 11:1 21:1 7:1 22:1 9:1 10:1 0:0.1068444746...
...                                                      ...
133267709  4:1 98:1 32654830:1 15:1 16975432:1 9:1 10:1 0...
133267710  4:1 98:1 32654830:1 15:1 8970759:1 9:1 10:1 0:...
133267711  200:1 11:1 2122366:1 15:1 24530590:1 9:1 20:1 ...
133267712  4:1 98:1 32654830:1 15:1 12724668:1 9:1 10:1 0...
133267713  4:1 98:1 32654830:1 15:1 790335:1 9:1 10:1 0:0...

[133267714 rows x 1 columns]

In [7]:
len(train_set)

133267714

In [8]:
train_set

                            engaged_user_id  day_of_tweet
0          B2263AF9B63CBC88D666E34277F567A3             3
1          E714521889A38AF35386AA7F7BFC01EF             3
2          A28FC60D0555E0BBDF7A5717BAE41DBD             3
3          72CB45172B3B726002426A9FE18D2061             3
4          443703CB3D0505C9CAFC97D27B8FB2E7             3
...                                     ...           ...
133267709  D75AAE3CCFA44BD84C35942CA4D03E56             2
133267710  D75AAE3CCFA44BD84C35942CA4D03E56             2
133267711  D856EFF41651280507E4167650C679C5             2
133267712  D75AAE3CCFA44BD84C35942CA4D03E56             2
133267713  D75AAE3CCFA44BD84C35942CA4D03E56             2

[133267714 rows x 2 columns]

In [11]:
train_data = pd.concat([train_set, train_set_fm], axis = 1)
val_data = pd.concat([val_set, val_set_fm], axis = 1)

In [12]:
train_features = pd.concat([train_data, val_data])

In [14]:
train_features.set_index(keys=['day_of_tweet'], drop=False,inplace=True)
names = train_features['day_of_tweet'].unique().tolist()
train_scratch = pd.DataFrame()
val_scratch = pd.DataFrame()
for day in names:
    print(day)
    train_day = train_features.loc[train_features.day_of_tweet==day]
    n_head = 90
    n_tail = 10
    train_set_scratch = train_day.head(int(len(train_day)*(n_head/100)))
    val_set_scratch = train_day.tail(int(len(train_day)*(n_tail/100)))
    train_scratch = pd.concat([train_scratch, train_set_scratch])
    val_scratch = pd.concat([val_scratch, val_set_scratch])

3
4
5
6
0
1
2

In [17]:
train_scratch.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f3/train_scratch.csv', sep = '\t', index = False)
val_scratch.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f3/val_scratch.csv', sep = '\t', index = False)

In [ ]:
train_data.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f3/train_data.csv')

In [ ]:
val_data.to_csv('/home/ubuntu/recsys_challenge_2020/classification_type_models/f3/val_data.csv')